<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>

<div id="app">
  <div @mouseover="stopTimer" @mouseout="startTimer">
    <transition :name="animate">
      <div v-if="show">
        <a  v-for="item in cur" :href="item.href">
          <img :src="item.img" alt="" width="300px" height="300px">
        </a>
      </div>
    </transition>
    <br>
    <a @click="back"> < </a> <a @click="goto"> > </a>
    <span v-for="item in maxIndex+1" @click="index=item-1" :class="item-1===index? 'active':''">
    {{item}}
  </span>

    <h1>index:{{index}}</h1>
  </div>
</div>

<script>
  const vm = new Vue({
    el: '#app',
    data() {
      return {
        data: [
          {
            img: 'http://img.hb.aicdn.com/ee9c62e8caf1b7907072b90b8058b87b2b92b237102ea-4LB0wq_sq320',
            href: ''
          },
          {
            img: 'http://img.hb.aicdn.com/c7d5ee0fd7a106d8fa08014a630f7e45854b41e7202111-W1UFR4_fw658',
            href: ''
          },
          {
            img: 'http://img.hb.aicdn.com/83254a10cc8de9f457a76dd1b90534e5eefc1de44f5c4-c1N0Rn_fw658',
            href: ''
          },
          {
            img: 'http://img.hb.aicdn.com/01d41e243c6509262c906ed1cd5133d2c01c1b4953e162-XW3yzD_fw658',
            href: ''
          },
          {
            img: 'http://img.hb.aicdn.com/bd1203e020c326403d8cdf52fc817353c2f6023212c12-cZ8VQV_fw658 ',
            href: ''
          },
          {
            img: 'http://img.hb.aicdn.com/fbf58ba1e69e4c1cff373c4ecf97db202c88aa10fd224-kxszi9_fw658',
            href: ''
          }

        ],

        index: 0, //#1当前屏显示的幻灯片第一个
        number: 3,//显示幻灯片数量
        interval: null,//声明this.interval定时器
        animate:'fade',
        switchTime: 4000, //定时切换
        transitionTime: 200,//为切换动画提供切换时间
        show: true, //为动画设置了v-if show和!show
      }
    },
    computed: {
      //index的可取的最大值,因为考虑到一屏多个幻灯片所以maxIndex不等于data.length
      maxIndex() {
        return this.data.length - this.number
      },
      //当前屏显示的幻灯片和#1对应
      cur() {
        return this.data.slice(this.index, this.index + this.number)
      }
    },
    methods: {
      goto() {//前进按钮和定时器前进触发此函数
        this.show = false
        setTimeout(() => {//加动画
          this.index++
          if (this.index > this.maxIndex) {
            this.index = 0
          }
          this.show = true
        }, this.transitionTime)
      },
      back() {//后退按钮触发此函数
        this.show = false
        setTimeout(() => {//加动画
          this.index--;
          if (this.index < 0) {
            this.index = this.maxIndex
          }
          this.show = true
        }, this.transitionTime)

      }
      ,
      //开始定时器或者暂停后再运行定时器
      startTimer() {
        this.interval = setInterval(() => { //保存定时器到this.interval
          this.goto()
        }, this.switchTime);
      },
      stopTimer() {//暂停定时器
        clearInterval(this.interval)
      }
    },
    created() {
      this.startTimer()
    }
  })

</script>
<style>
  .active {
    color: red
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }

  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
  {
    opacity: 0;
  }


</style>
