:root {
  --heading-color: #00ff00;
}

@custom-selector :--headings h1, h2, h3, h4, h5, h6;

.contain {
  & span{
    color: white;
  }

  @nest span &{
    color: blue;
  }
  /*嵌套@media*/
  @media (min-width: 30rem){
    color: yellow;
  }
}
