<meta charset="utf-8">
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
<link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
<div id="app">
    <el-form :inline="true" v-for="(item,index) in formInline" :model="formInline[index]" class="demo-form-inline">
        <el-form-item label="审批人">
            <el-input v-model="formInline[index].user" placeholder="审批人"></el-input>
        </el-form-item>
        <el-form-item label="活动区域">
            <el-select v-model="formInline[index].region" placeholder="活动区域">
                <el-option label="区域一" value="shanghai"></el-option>
                <el-option label="区域二" value="beijing"></el-option>
            </el-select>
        </el-form-item>

    </el-form>
    <el-button type="primary" @click="formInline.push({
                user: '',
                region: ''
            })">
        +添加
    </el-button>
</div>
<script>
    const vm = new Vue({
        el: '#app',
        data: {


            formInline: [{
                user: '',
                region: ''
            },
                {
                    user: '',
                    region: ''
                },
                {
                    user: '',
                    region: ''
                }
            ]


        },
        methods: {
            onSubmit() {
                console.log('submit!');
            }
        }
    })
</script>