<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/plugin/jquery-easyui-1.4.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/plugin/jquery-easyui-1.4.3/themes/icon.css">
    <script type="text/javascript" src="/plugin/jquery-easyui-1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="/plugin/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/plugin/jquery-easyui-1.4.3/locale/easyui-lang-zh_CN.js"></script>
    <title>文章列表页面</title>
</head>
<body>
<div class="easyui-panel" style="padding:5px">
    <ul class="easyui-tree" id="testTree" data-options="url:'getTreeDate',method:'get',animate:true,lines:true,	onContextMenu: function(e,node){
					e.preventDefault();
					$(this).tree('select',node.target);
					$('#mm').menu('show',{
						left: e.pageX,
						top: e.pageY
					});
				}"></ul>
</div>
<div id="mm" class="easyui-menu" style="width:120px;">
    <div onclick="append()" data-options="iconCls:'icon-add'">Append</div>
    <div onclick="removeit()" data-options="iconCls:'icon-remove'">Remove</div>
    <div class="menu-sep"></div>
    <div onclick="expand()">Expand</div>
    <div onclick="collapse()">Collapse</div>
</div>
<div id="win"><br/>
    <div id="addDiv" style="text-align: center;display: none">
    名称:<input type="text" id="comboxId" class="easyui-textbox" name="name" style="width: 100px;"><br/><br/><br/>
    <input type="button" onclick="saveTree()" value="确定" >
    </div>
</div>
<input id="cc" class="easyui-combotree" data-options="url:'getTreeDate',method:'get',required:true" style="width:200px;">
</body>
<script type="text/javascript">
    function getValue(){
        var val = jQuery('#cc').combotree('getValue');
        alert(val);
    }
    function append(){
        jQuery('#addDiv').show();
        jQuery('#win').window({
            title:'新增',
            width:200,
            height:150,
            modal:true
        });
    }
    function saveTree(){
        var t = jQuery('#testTree');
        var node = t.tree('getSelected');
        var pid=node.id;
        var name=jQuery('#comboxId').val();
        jQuery.post('addTree',{name:name,pid:pid},
                function (result) {
                    jQuery('#testTree').tree('reload');
                    jQuery('#win').window('close');
        })
    }

    function removeit(){
        var node = $('#testTree').tree('getSelected');
        $('#testTree').tree('remove', node.target);
        jQuery.post('del',{id:node.id},
                function (result) {
                    if(result.success){
                        jQuery('#testTree').tree('reload');
                    }else{
                        jQuery.messager.alert('提示','删除失败');
                    }
                });
    }
    function collapse(){
        var node = $('#testTree').tree('getSelected');
        $('#testTree').tree('collapse',node.target);
    }
    function expand(){
        var node = $('#testTree').tree('getSelected');
        $('#testTree').tree('expand',node.target);
    }
</script>
</html>