<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <ul>
    <li v-for="item in navs">
      <c1 :item="item">

      </c1>
    </li>
  </ul>
</div>

<template id="c1">
  <div>
    <a type="button" @click="open=!open">{{item.name}} {{ open ? (item.children? '∨':'')  : (item.children? '<':'') }}</a>
    <ul v-show="open">

      <li v-for="Item in item.children">
        <a href="">
          {{Item.name}}

        </a>

      </li>
    </ul>
  </div>
</template>

<script src="http://cdn.bootcss.com/vue/2.0.3/vue.js"></script>

<script>
  'use strict';

  Vue.component('c1', {
    template: '#c1',
    props: ['item'],
    data() {
      return {
        open: false
      }
    }
  })

  new Vue({
    el: '#app',
    data:
      {
        navs: [
          {

            path: '/admin',
            name: '首页',

            children: [
              {    //    /admin 的首页页面
                path: '',
                name: '封面页',

              },
              {   //文章列表页
                path: ':id',
                name: 'list',

              },
              {//文章页页路由
                path: 'article/:id',
                name: 'article',
              }

            ]
          },
          {

            path: '/admin',
            name: '列表页',
            children: [
              {    //    /admin 的首页页面
                path: '',
                name: '封面页',

              },
              {   //文章列表页
                path: ':id',
                name: 'list',

              },
              {//文章页页路由
                path: 'article/:id',
                name: 'article',
              }

            ]
          },
          {

            path: '/admin',
            name: '公司介绍',
          }
        ]
      }

  })
</script>
</body>
</html>
