<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<meta charset="utf-8">
<div id="app">
    <el-collapse v-model="activeNames" @change="handleChange">
        <el-collapse-item v-for="(item,index) in data" :title="item.title" :name="index+1">
            <div v-if="item.children">
                <a href="" v-for="ite in  item.children">
                    {{ite.title}}
                </a>
            </div>
        </el-collapse-item>

    </el-collapse>
</div>
<script>
    const vm = new Vue({
        el: '#app',
        data() {
            return {
                activeNames: 1,

                data: [


                    {

                        path: 'goodss',
                        title: 'goodss',

                        children: [{

                            path: 'goods1',
                            title: 'addGoods',

                        },
                            {

                                path: 'goods2',
                                title: 'addGoods',

                            }

                        ]
                    },
                    {

                        path: 'article/',
                        title: 'article'

                    }
                ]
            };
        },
        methods: {
            handleChange(val) {
                console.log(val);
            }
        }
    })
</script>

<style>
    .is-active {
        color: red
    }


</style>