<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <!--:model="ruleForm" 总数据-->
    <!--:rules="rules"所有validate规则-->
    <!--:inline="true"行内模式-->
    <el-form :model="ruleForm"
             :rules="rules"
             ref="ruleForm"

             label-width="100px"
             class="demo-ruleForm">
        <!--prop="name"用于在validate时提示>
        <!--label视图中写在input之前的label-->
        <el-form-item label="活动名称" prop="name">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="活动名称">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.region"></el-input>
        </el-form-item>

        <el-form-item label="活动名称">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.region" type="textarea"></el-input>
        </el-form-item>
        <el-form-item>
            <el-switch

                    active-color="#13ce66"
                    inactive-color="#ff4949">
            </el-switch>
        </el-form-item>

        <el-form-item label="活动名称">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.region" type="textarea"></el-input>
        </el-form-item>
        <el-form-item>
            <el-switch

                    active-color="#13ce66"
                    inactive-color="#ff4949">
            </el-switch>
        </el-form-item>
        <el-form-item label="活动名称" prop="name">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="活动名称">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.region"></el-input>
        </el-form-item>
        <el-form-item label="活动名称">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.region"></el-input>
        </el-form-item>

        <el-form-item label="活动名称">
            <!--ruleForm.name 数据-->
            <el-input v-model="ruleForm.region" type="textarea"></el-input>
        </el-form-item>
        <el-form-item>
            <el-switch

                    active-color="#13ce66"
                    inactive-color="#ff4949">
            </el-switch>
        </el-form-item>

    </el-form>

    <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
        <el-button @click="resetForm('ruleForm')">重置试一下</el-button>
    </el-form-item>
</div>

<script>
    const vm = new Vue(
        {
            el: '#app',
            data() {
                return {
                    ruleForm: {
                        name: '11',
                        region: 'china',
                        date1: '',
                        date2: '',
                        delivery: false,
                        type: [],
                        resource: '',
                        desc: ''
                    },
                    rules: {
                        name: [
                            {required: true, message: '请输入活动名称', trigger: 'blur'},
                            {min: 3, max: 25, message: '长度在 3 到 5 个字符', trigger: 'blur'}
                        ],
                        region: [
                            {required: true, message: '请选择活动区域', trigger: 'change'}
                        ],
                        date1: [
                            {type: 'date', required: true, message: '请选择日期', trigger: 'change'}
                        ],
                        date2: [
                            {type: 'date', required: true, message: '请选择时间', trigger: 'change'}
                        ],
                        type: [
                            {type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change'}
                        ],
                        resource: [
                            {required: true, message: '请选择活动资源', trigger: 'change'}
                        ],
                        desc: [
                            {required: true, message: '请填写活动形式', trigger: 'blur'}
                        ]
                    }
                };
            },
            methods: {
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            alert('submit!');
                        } else {
                            alert('error submit!!');
                            return false;
                        }
                    });
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }


        }
    )

</script>

<style>
    form.demo-ruleForm {
        display: flex;
        flex-wrap:wrap;
    }

    .demo-ruleForm > * {
        flex: 1 1 25%;
        background: #f8f8f8;
        margin: 10px;
        padding: 10px;
    }
</style>
</body>
</html>