<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue-10</title>
    <!-- 引入Vue -->
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
</head>

<body>
<div id="app">


        <ol  v-for="(item,index) in items" @click="fn(item.text,index)" v-if="item.show" :key="item+index" >
           <button>{{item.text}}-{{index}}</button>
        </ol>


</div>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            items: [
                {text: 1,show:true},
                {text: 2,show:false},
                {text: 3,show:true}
            ],

        },
        methods: {
            fn(item,index){
                console.log(item,index)
            }

        }

    })


</script>
</body>

</body>
</html>