<meta charset="utf-8">
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>
<link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">

<div id="app">
    <div class="demo-input-suffix">
        属性方式：

        <el-input
                placeholder="请输入内容"
                suffix-icon="el-icon-search"
                v-model.lazy="input2">
        </el-input>
    </div>
    <div class="demo-input-suffix">
        slot 方式：
        <el-input
                placeholder="请选择日期"
                v-model="input3">
            <i slot="suffix" class="el-input__icon el-icon-date"></i>
        </el-input>
        <el-input
                placeholder="请输入内容"
                v-model="input4">
            <i slot="prefix" class="el-input__icon el-icon-search"></i>
        </el-input>
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data() {
            return {

                input2: '',
                input3: '',
                input4: ''
            }
        },
        watch:{
            input2(){

                console.log('watch')
            }

        }
    })
</script>

<style>
    .el-input input{ border-radius: 0!important;}
    .el-input i{ font-size: 24px; padding-right: 10px}
</style>