/*h-shadow	必需。水平阴影的位置。允许负值。
v-shadow	必需。垂直阴影的位置。允许负值。
blur	可选。模糊距离。
spread	可选。阴影的尺寸。
color	可选。阴影的颜色。请参阅 CSS 颜色值。
inset	可选。将外部阴影 (outset) 改为内部阴影。*/
/*


*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: OpenSans;
  src: url('../font/OpenSans-Light.ttf');
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
*.active,
*:hover,
*:focus {
  outline: #FE1D01;
}
html {
  font-size: 10px;
}
body {
  /* 字体 */
  font-family: 'OpenSans', Arial, 'Times New Roman', 'Microsoft YaHei', SimHei, "宋体", sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #666;
  /* 背景 */
  background: #f1f1f1;
  /* margin */
  margin: 0;
  overflow-x: hidden;
}
body:after {
  content: ' ';
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* Headings
 ========================================================================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-family: 'OpenSans', Arial, 'Times New Roman', 'Microsoft YaHei', SimHei, "宋体", sans-serif;
  font-weight: normal;
  color: #333;
}
/*
 * Sizes
 */
h1,
.h1 {
  font-size: 3.485rem;
  line-height: 1.1;
}
h2,
.h2 {
  font-size: 2.72rem;
  line-height: 1.1;
}
h3,
.h3 {
  font-size: 1.8rem;
  line-height: 1.1;
}
h4,
.h4 {
  font-size: 1.6rem;
}
h5,
.h5 {
  font-size: 1.4rem;
}
h6,
.h6 {
  font-size: 1.2rem;
}
@media (min-width: 960px) {
  h1,
  .h1 {
    font-size: 4.1rem;
  }
  h2,
  .h2 {
    font-size: 3.2rem;
  }
}
/* Add margin if adjacent element */
* + h1,
* + .h1,
* + h2,
* + .h2,
* + h3,
* + .h3,
* + h4,
* + .h4,
* + h5,
* + .h5,
* + h6,
* + .h6 {
  margin-top: 25px;
}
a,
.link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
a:hover,
.link:hover,
a.active {
  color: #FE1D01;
  text-decoration: none;
}
p {
  margin-top: 0px;
}
* + p {
  margin-top: 25px;
}
* + button {
  margin-top: 25px;
}
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
  /* 1 */
  max-width: 100%;
  /* 2 */
  height: auto;
  /* 3 */
  box-sizing: border-box;
}
img:not([src]) {
  visibility: hidden;
}
svg {
  fill: currentColor;
  width: 1.2em;
  height: 1.2em;
  vertical-align: -0.15em;
  overflow: hidden;
}
svg:not(:root) {
  overflow: hidden;
}
/* Lists
 ========================================================================== */
ul > li > ul,
ul > li > ol,
ol > li > ol,
ol > li > ul {
  margin: 0;
}
/* Description lists
 ========================================================================== */
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
hr,
.hr {
  /* 1 */
  box-sizing: content-box;
  height: 0;
  /* 2 */
  overflow: visible;
  /* 3 */
  text-align: inherit;
  /* 4 */
  margin: 0 0 25px 0;
  border: 0;
  border-top: 1px solid #E6E6E6;
}
* + hr,
* + .hr {
  margin-top: 25px;
}
abbr[title] {
  /* 1 */
  border-bottom: none;
  /* 2 */
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
  color: #333;
}
em {
  color: #FE1D01;
}
ins {
  background: #ffd;
  color: #666;
  text-decoration: none;
}
mark {
  background: #ffd;
  color: #666;
}
big {
  font-size: 120%;
}
small {
  font-size: 80%;
}
q {
  font-style: italic;
}
blockquote {
  margin: 0 0 25px 0;
  font-size: 1.4rem;
  line-height: 1.5;
  font-style: none;
  padding: 25px;
  border-left: 5px solid #f5f5f5;
  background: #fff;
}
* + blockquote {
  margin-top: 25px;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote footer {
  margin-top: 25px;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: right;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.inverse-wrap {
  /* &, *, *:hover {
     color: @global-color-inverse;
   }*/
}
.inverse-wrap svg {
  fill: white;
}
.inverse-wrap,
.inverse-wrap h1,
.inverse-wrap .h1,
.inverse-wrap h2,
.inverse-wrap .h2,
.inverse-wrap h3,
.inverse-wrap .h3,
.inverse-wrap h4,
.inverse-wrap h5,
.inverse-wrap h6,
.inverse-wrap b,
.inverse-wrap i,
.inverse-wrap a,
.inverse-wrap a:hover,
.inverse-wrap .link,
.inverse-wrap p,
.inverse-wrap ul,
.inverse-wrap li,
.inverse-wrap div,
.inverse-wrap button {
  color: #fff;
}
/*---------------------- 滚动条-----------------*/
/*定义滚动条高宽及背景 高宽分别对应 横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #Fff;
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #eee;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
::-moz-selection {
  background: #FE1D01;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #FE1D01;
  color: #fff;
  text-shadow: none;
}
.container {
  /* media>1200 */
  /* 720< media <1200 */
  /*media<720*/
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 640px) and (max-width: 1199px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}
@media (max-width: 639px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .hidden-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .hidden-sm-and-up {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hidden-sm-only {
    display: none !important;
  }
}
@media only screen and (max-width: 991px) {
  .hidden-sm-and-down {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) {
  .hidden-md-and-up {
    display: none !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hidden-md-only {
    display: none !important;
  }
}
@media only screen and (max-width: 1199px) {
  .hidden-md-and-down {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .hidden-lg-and-up {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .hidden-lg-only {
    display: none !important;
  }
}
@media only screen and (max-width: 1919px) {
  .hidden-lg-and-down {
    display: none !important;
  }
}
@media only screen and (min-width: 1920px) {
  .hidden-xl-only {
    display: none !important;
  }
}
.el-dialog {
  width: auto;
  display: inline-block;
}
.el-dialog__wrapper {
  text-align: center;
}
.infinite-list {
  padding: 10px;
}
.infinite-list .el-card {
  margin-top: 20px;
}
.infinite-list p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 5px;
}
.infinite-list * + p {
  margin-top: 0;
}
.el-drawer {
  width: 50% !important;
}
/*# sourceMappingURL=index.css.map */