<meta charset="utf-8">
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<body>
<div id="app">
    <m-tree-list :data="data"></m-tree-list>
</div>
</body>

<script>

    Vue.component("m-tree-list",{

        props:{
            data:{
                type:Array,
                default:[]
            },
            increment:{
                type:Number,
                default:0
            }
        },
        computed:{
            count(){
                let c = this.increment;
                return ++c;
            },
            stylePadding(){
                return {
                    'padding-left':this.count*1+'px'
                }
            }
        },
        template:`
                    <ul>
                    <li v-for="item of data">
                    <div class="tree-title" :style="stylePadding" >
                    <span><strong>{{item.title}}</strong> <i class="ico"></i></span>
                    </div>
                    <m-tree-list
                    v-if="item.chidren"
                    :increment="count"
                    :data="item.chidren"
                    >
                    </m-tree-list>
                    </li>
                    </ul>
                    `

    })


    let data = [{
        title: "目录",
        chidren: [{
            title: "我的音乐",
            chidren: [{
                title: "周杰伦",
                chidren: [{
                    title: "发如雪"
                }]
            }, {
                title: "王杰",
                chidren: [{
                    title: "一场游戏一场梦"
                }]
            }]
        },
            {
            title: "我的照片"
        }]
    }];
    new Vue({
        el:"#app",
        data:{
            data:data
        }
    })
</script>