<meta charset="utf-8">
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>


<div id="app">
    {{$store.state}}
    <input type="text" v-model="$store.state.obj.a">
    <input type="text" v-model="$store.state.i">
    <cl :data="$store.state.obj"></cl>
</div>


<script>
    Vue.component('cl', {template: ' <input type="text" v-model="data.a">', props: ['data']})
    //构造函数的参数
    const store = new Vuex.Store({
        state: {obj: {a: 1}, i: 1},
    })

    const vm = new Vue(
        {
            el: '#app',
            store
        }
    )


</script>