<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vue-10</title>
    <!-- 引入Vue -->
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
</head>

<body>
<div id="app">


    <ul v-for="(todo,index) in todos" @click="fn(todo.text,index)" :key="todo+index">
        <template>
            <li>
                {{todo.text}}-{{index}}
            </li>
            <li class='divider' v-if="todo.divider">

            </li>
        </template>
    </ul>


</div>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            todos: [
                {text: 1, divider: 'true'},
                {text: 2},
                {text: 3}
            ],

        },
        methods: {
            fn(item, index) {
                console.log(item, index)
            }

        }

    })


</script>

<style>
    .divider {

        background: #0f0f0f
    }

</style>
</body>

</body>
</html>