<meta charset="utf-8">
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>


<div id="app">


<cl></cl>

</div>




<script>

    Vue.component('cl',{template:"<div>1</div>"})

    new Vue({
        el: '#app',
        data: {
            msg: '你好你好你好你好你你好你好你好你好你很高你好你好你好你好你很高你好你好你好你好你很高很高'
        },
    })


</script>