<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.min.js"></script>


<div id="app">

    <cl @click="fn"></cl>
<!-- 和原生不同是会自动补全-->
    <cl @click="fn($event)"></cl>
</div>

<script>
    var cl = {
        template: `<div @click="click">事件</div>`,
        methods: {
            click: function () {
                this.$emit('click', '子组件发送的')
            }
        }

    }
    const vm = new Vue({
        el: '#app',
        components: {cl},
        data: {
            msg: 'msg'
        },
        methods: {

            fn(data) {
                console.log(data)
            }

        }
    })


</script>
</body>
</html>