<meta charset="utf-8">
<script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>


<div id="app">

    <!--    对象的地址没有变,-->
    <cl :data="obj"></cl>
    {{obj}}


</div>


<script>

    Vue.component('cl', {template: `<div><input type="text" v-model="data.a"><input type="text" v-model="data.b"></div> `, props: ['data']})






    const vm = new Vue({
        el: '#app',

        data: {

            obj: {a: 1,b:2},

            i: 1

        }

    })

</script>


