.uk-inline {
  cursor: pointer;
  overflow: hidden;
}
.uk-inline img {
  transition: all 1s;
}
.uk-inline div.uk-overlay {
  transition: all 1s;
  background-color: rgba(255, 255, 255, 0.7);
}
.uk-inline:hover img {
  transform: scale(1.1);
}
.uk-inline:hover div.uk-overlay {
  background-color: rgba(255, 255, 255, 0.9);
}
